/***********/
/* DESKTOP */
/***********/

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
    margin: 0 5em;
    border-top: solid 0.1em var(--line-color);
    height: 6em;
}

footer p {
    grid-column: span 6;
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
}

footer ul {
    grid-column: span 6;
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

footer ul li a {
    color: var(--title-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    margin-left: 0.6em;
}

footer ul li a img {
    margin-right: 0.4em;
} 

/**********/
/* TABLET */
/**********/

@media (min-width: 48em) and (max-width: 64em) {
    footer {
        margin: 0 2em;
    }
}