/*********/
/* FONTS */
/*********/

@font-face {
    font-family: 'MoglanDemo';
    src: url(../fonts/MoglanDemo.woff);
}

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}

/**************/
/* CSS REMEDY */
/**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a, button {
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.yellow-blob-top {
    position: absolute;
    transform: translate(50%, 0%);
    z-index: -1;
    top: 0;
    right: 0;
    width: 48em; 
    height: 48em; 
    background: radial-gradient(rgba(255, 233, 35, 0) 0%, rgba(244, 244, 244, 0) 50%);
    border-radius: 1000em;
}

.pink-blob-middle {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 48em; 
    height: 48em; 
    border-radius: 1000em;
}

.yellow-blob-bottom {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 48em; 
    height: 48em; 
    border-radius: 1000em;
}

/**********/
/* TABLET */
/**********/

@media (max-width: 80em) {
    .yellow-blob-top {
        width: 40em; 
        height: 40em; 
    }
    
    .pink-blob-middle {
        width: 40em; 
        height: 40em; 
    }
    
    .yellow-blob-bottom {
        width: 40em; 
        height: 40em; 
    }
}

/****************/
/* TABLET SMALL */
/****************/

@media (max-width: 48em) {
    .yellow-blob-top {
        width: 32em; 
        height: 32em; 
    }
    
    .pink-blob-middle {
        width: 32em; 
        height: 32em; 
    }
    
    .yellow-blob-bottom {
        width: 32em; 
        height: 32em; 
    }
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 40em) {
    .yellow-blob-top {
        width: 20em; 
        height: 20em; 
    }
    
    .pink-blob-middle {
        width: 20em; 
        height: 20em; 
    }
    
    .yellow-blob-bottom {
        width: 20em; 
        height: 20em;  
    }
}

/****************/
/* MOBILE SMALL */
/****************/

@media (max-width: 22em) {
    .yellow-blob-top {
        width: 16em; 
        height: 16em; 
    }
    
    .pink-blob-middle {
        width: 16em; 
        height: 16em; 
    }
    
    .yellow-blob-bottom {
        width: 16em; 
        height: 16em; 
    }
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    --background-color: rgb(244 244 244);
    --title-color: rgb(35 35 35);
    --p-color: rgb(101 101 101);
    --line-color: rgb(35 35 35);
    --accent-color-1: rgb(255 233 35);
    --accent-color-2: rgb(255 100 255);
}
