/*********/
/* FONTS */
/*********/

@font-face {
    font-family: 'MoglanDemo';
    src: url(../fonts/MoglanDemo.woff);
}

@font-face {
    font-family: 'Red Hat Display', sans-serif;
    src: url(../fonts/RedHatDisplay-Regular.woff);
}

/**************/
/* CSS REMEDY */
/**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a, button {
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    position: relative;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.blob {
    position: absolute;
    width: 112em; 
    aspect-ratio: 1/1;
    z-index: -1;
}

.blob.yellow {
    background: radial-gradient(rgba(255,233,35,0.60) 0%, rgba(253,233,35,0.45) 12%, rgba(255,233,35,0.30) 30%, rgba(255,233,35,0.15) 42%, rgba(255,233,35, 0) 54%, rgba(255,233,35,0) 70%, rgba(255,233,35,0) 82%, rgba(0,0,0,0) 100%);
}

.blob.pink {
    background: radial-gradient(rgba(255,100,255,0.45) 0%, rgba(253,100,255,0.30) 12%, rgba(255,100,255,0.15) 30%, rgba(255,100,255,0.05) 42%, rgba(255,100,255, 0) 54%, rgba(255,100,255,0) 70%, rgba(255,100,255,0) 82%, rgba(0,0,0,0) 100%);
}

.blob.yellow.top {
    transform: translate(25%, -25%);
    top: 0;
    right: 0;
}

.blob.pink.middle {
    transform: translate(-35%, 0%);
    left: 0;
}

.blob.yellow.bottom {
    bottom: 0;
    right: 0;
    transform: translate(50%, 0%);
}

/**********/
/* TABLET */
/**********/

@media (max-width: 80em) {
    .blob {
        width: 96em; 
    }
}

/****************/
/* TABLET MEDIUM */
/****************/

@media (max-width: 64em) {
    .blob {
        width: 72em; 
    }
}

/****************/
/* TABLET SMALL */
/****************/

@media (max-width: 48em) {
    .blob {
        width: 56em; 
    }
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 40em) {
    .blob {
        width: 48em; 
    }
}

/****************/
/* MOBILE SMALL */
/****************/

@media (max-width: 22em) {
    .blob {
        width: 32em; 
    }
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
    --background-color: rgb(244 244 244);
    --title-color: rgb(35 35 35);
    --p-color: rgb(101 101 101);
    --line-color: rgb(35 35 35);
    --accent-color-1: rgb(255 233 35);
    --accent-color-2: rgb(255 100 255);
}
