/***********/
/* DESKTOP */
/***********/

main section:nth-of-type(4) {
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 2em; */
    /* height: 100vh; */
}


main section:nth-of-type(4) h2 {
    /* grid-row: span 1;
    grid-column: span 12; */
    font-size: 4em;
    height: fit-content;
    line-height: 1em;
    color: var(--title-color);  
    text-transform: uppercase; 
    margin: 2em 2em;
    font-family: 'MoglanDemo';
}

main section:nth-of-type(4) ul {
    /* grid-row: span 3 ;
    grid-column: span 12; */
    list-style: none;
}

main section:nth-of-type(4) ul li:nth-of-type(1) {
    border-top: dotted 0.1em var(--line-color);
}

main section:nth-of-type(4) ul li {
    border-bottom: dotted 0.1em var(--line-color);
    padding: 0 8em;
}

main section:nth-of-type(4) ul li a {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

main section:nth-of-type(4) ul li a h3 {
    font-size: 2em;
    color: var(--title-color);
}

main section:nth-of-type(4) ul li a p {
    color: var(--p-color);
    text-transform: uppercase;
    font-size: 1em;
    text-align: right;
}

/**********/
/* TABLET */
/**********/

@media (max-width: 80em) {
    main section:nth-of-type(4) h2 {
        margin: 1em 1.2em;
        font-size: 3em;
    }

    main section:nth-of-type(4) ul li {
        padding: 0 4em;
    }

    main section:nth-of-type(4) ul li a h3 {
        font-size: 1.8em;
    }

    main section:nth-of-type(4) ul li a p {
        font-size: 0.8em;
    }
}

/****************/
/* TABLET SMALL */
/****************/

@media (max-width: 48em) {
    main section:nth-of-type(4) h2 {
        margin: 1em 0.6em;
        font-size: 2.8em;
    }

    main section:nth-of-type(4) ul li {
        padding: 0 1.8em;
    }

    main section:nth-of-type(4) ul li a h3 {
        font-size: 1.2em;
    }

    main section:nth-of-type(4) ul li a p {
        font-size: 0.7em;
    }
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 40em) {
    
}