/*****************/
/* CUSTOM CURSOR */
/*****************/

.cursor {
    z-index: 2000;
    width: 1em;
    aspect-ratio: 1/1;
    border-radius: 100em;
    background-color: var(--accent-color-2);
    transition: all .1s ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-1);
    letter-spacing: 0.06em;
    font-size: .8em;
}

.hover {
    width: 5em;
    transition: all .2s ease-out;
    opacity: .9;
}

.swapfiets-hover {
    width: 5em;
    transition: all .2s ease-out;
    opacity: 1;
}

.swapfiets-hover::after {
    content: "";
    background-image: url(../img/swapfiets-hover.jpg);
    background-size: contain;
    width: 14em;
    height: 20em;
    background-color: var(--main-1);
    border-radius: 2em;
    top: -22em;
    rotate: -4deg;
    position: absolute;
}

.tableware-by-sharon-hover {
    width: 5em;
    transition: all .2s ease-out;
    opacity: 1;
}

.tableware-by-sharon-hover::after {
    content: "";
    background-image: url(../img/swapfiets-hover.jpg);
    background-size: contain;
    width: 14em;
    height: 20em;
    background-color: var(--main-1);
    border-radius: 2em;
    top: -22em;
    rotate: -4deg;
    position: absolute;
}

.css-art-hover {
    width: 5em;
    transition: all .2s ease-out;
    opacity: 1;
}

.css-art-hover::after {
    content: "";
    background-image: url(../img/swapfiets-hover.jpg);
    background-size: contain;
    width: 14em;
    height: 20em;
    background-color: var(--main-1);
    border-radius: 2em;
    top: -22em;
    rotate: -4deg;
    position: absolute;
}